<h3>Здравствуйте!</h3>
<h4>Меня зовут Николай и...</h4>
<p>
  Это тестовое задание для вакансии <a href="http://www.acceptic.com/wincompass">Trainee PHP/JS Developer</a> от Acceptic.
</p>
<p>
  Подробные требования к заданию можно посмотреть по <a href="https://drive.google.com/open?id=0B7W2isU4SPJCaWpZYXFrS1BwQTd4bE5EdGZYZ3FiNVFYbGlF">ссылке</a>.
</p>
<h4>Мой первый комерческий проект</h4>
<p>
  Также хочу немного рассказать о моем первом комерческом проекте <a href="http://sldpoliv.com.ua/">SldPoliv</a>.
</p>
<p>
  Как я его получил? Я думаю мне просто повезло.
  Так как я уходил с университета, а мне на встречу шла преподавательница,
  она вела у меня веб дизайн. И она обратилась ко мне с предложением,
  от имени ее знакомого! Я был очень удивлен, так как, у меня с ней не
  складывались отношения. Для нее было важно посещение занятий,
  а я, скажу честно, не был примерным студентом.
</p>
<p>
  Делал я его примерно четыре месяца, изначально у меня был только дизайн
  нескольких страниц. И на основе этого дизайна я разработал интернет
  магазин изделий из пластмас. Разрабатывал я его не сам. Мне помогал мой друг.
  Он уже имел на то время немалый опыт в разработке подобных сайтов. И у него
  есть наработки. Ну собственно с его помощью, и помощью его наработок,
  мы сделали этот магазин.
</p>
<p>
  Самостоятельно я сделал только верстку. И посадил несклько шаблонов на его
  самодельный фреймворк. В остальном он мне помог.
</p>
