<footer class="page-footer grey lighten-4">
  <div class="container">
    <div class="row">
      <div class="col l6 s12">
        <h5>Контакты</h5>
        <ul>
          <li><p>+3 (8095) 54 25 189</p></li>
          <li><a href="mailto:nikolayostrizhny@gmail.com">nikolayostrizhny@gmail.com</a></li>
          <li><a href="http://vk.com/nikolayostrizhny">Мой Вк</a></li>
        </ul>
      </div>
      <div class="col l4 offset-l2 s12">
        <h5>Дополнительные ссылки</h5>
        <ul>
          <li><a href="http://sldpoliv.com.ua">SldPoliv</a></li>
          <li><a href="http://github.com/bugr43">Github</a></li>
        </ul>
      </div>
    </div>
  </div>
  <div class="footer-copyright">
    <div class="container black-text">
      Острижний Николай 2016 &copy
    </div>
  </div>
</footer>
