<header class="grey lighten-5">
  <nav>
    <div class="nav-wrapper grey lighten-4">
      <div class="container">
        <a href="/" class="brand-logo"><img src="http://www.acceptic.com/assets/images/acceptic_logo_header.svg" alt="Логотип Aceptic" /></a>
        {% include "menu.twig" %}
      </div>
    </div>
  </nav>
</header>
